# database url (modify as needed)
OLD_DATABASE_URL="postgresql://postgres:2468@akshu@localhost:5432/instafarms_olddata"
NEW_DATABASE_URL="postgresql://postgres:2468@akshu@localhost:5432/instafarms_newdata"

# json migration options
MIGRATION_BATCH_SIZE=500
MIGRATION_DRY_RUN=false
MIGRATION_TABLE=
MIGRATION_DATA_DIR=data/oldedata
MIGRATION_BRAND_NAME=InstaFarms
MIGRATION_BRAND_DOMAIN=
